Please mock the test suite

Please mock the test suite so that it doesn't connect to `moddb.com` but instead uses local data to test the requests. There are a few convenient packages that can be used to automatically record `moddb.com` interactions and make the subsequent test runs reuse it:  [vcrpy](https://pypi.org/project/vcrpy/) and [betamax](https://pypi.org/project/betamax/) are two I can think of.

Currently it is entirely impossible to test the package by distribution packages — the test suite starts failing after 30 requests due to rate limit.

If you have traceback or code that would be helpful. The library and test suite are intended to account for ratelimits and seem to work fine when I run the test on pull requests. 

What does the distribution package do different? Is it a timeout problem?

Nope, definitely rate limiting problem:

```pytb
$ python -m pytest -x --deselect tests/test_base.py::TestLogin --deselect tests/test_client.py::TestClient::test_get_watched --deselect tests/test_client.py::TestClient::test_get_updates --deselect tests/test_client.py::TestClient::test_posts --deselect tests/test_client.py::TestClient::test_friends --deselect tests/test_client.py::TestClient::test_messages
========================================================= test session starts =========================================================
platform linux -- Python 3.11.5, pytest-7.4.0, pluggy-1.2.0
rootdir: /tmp/moddb
plugins: html-3.2.0, metadata-3.0.0, rerunfailures-12.0, test-groups-1.0.3
collected 838 items / 7 deselected / 831 selected                                                                                     

tests/test_addon.py ..                                                                                                          [  0%]
tests/test_article.py .                                                                                                         [  0%]
tests/test_base.py ......                                                                                                       [  1%]
tests/test_engine.py ........F

============================================================== FAILURES ===============================================================
______________________ TestEngine.test_get_tags[https://www.moddb.com/engines/sage-strategy-action-game-engine] _______________________

self = <Response [503]>, kwargs = {}

    def json(self, **kwargs):
        r"""Returns the json-encoded content of a response, if any.
    
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        :raises requests.exceptions.JSONDecodeError: If the response body does not
            contain valid json.
        """
    
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
    
        try:
>           return complexjson.loads(self.text, **kwargs)

.venv/lib/python3.11/site-packages/requests/models.py:971: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
/usr/lib/python3.11/json/__init__.py:346: in loads
    return _default_decoder.decode(s)
/usr/lib/python3.11/json/decoder.py:337: in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <json.decoder.JSONDecoder object at 0x7fb760103250>
s = '<!DOCTYPE html>\n<html lang="en">\n<head>\n\t<title>Opps - Mod DB</title>\n\t<meta charset="utf-8">\n\t<meta name="ro...form.twitter.com/widgets.js" charset="utf-8"></script>\n\t\t\t\t\t</div>\n\t</td>\n</tr>\n</table>\n\n</body>\n</html>'
idx = 0

    def raw_decode(self, s, idx=0):
        """Decode a JSON document from ``s`` (a ``str`` beginning with
        a JSON document) and return a 2-tuple of the Python
        representation and the index in ``s`` where the document ended.
    
        This can be used to decode a JSON document from a string that may
        have extraneous data at the end.
    
        """
        try:
            obj, end = self.scan_once(s, idx)
        except StopIteration as err:
>           raise JSONDecodeError("Expecting value", s, err.value) from None
E           json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

/usr/lib/python3.11/json/decoder.py:355: JSONDecodeError

During handling of the above exception, another exception occurred:

response = <Response [503]>

    def raise_for_status(response):
        """Raise any error that could have occured"""
        try:
>           text = response.json()

moddb/utils.py:147: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <Response [503]>, kwargs = {}

    def json(self, **kwargs):
        r"""Returns the json-encoded content of a response, if any.
    
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        :raises requests.exceptions.JSONDecodeError: If the response body does not
            contain valid json.
        """
    
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
    
        try:
            return complexjson.loads(self.text, **kwargs)
        except JSONDecodeError as e:
            # Catch JSON-related errors and raise as requests.JSONDecodeError
            # This aliases json.JSONDecodeError and simplejson.JSONDecodeError
>           raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
E           requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

.venv/lib/python3.11/site-packages/requests/models.py:975: JSONDecodeError

During handling of the above exception, another exception occurred:

self = <tests.test_engine.TestEngine object at 0x7fb75e61e0d0>

    def test_get_tags(self):
>       tags = self.engine.get_tags()

tests/test_engine.py:70: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
moddb/pages/mixins.py:590: in get_tags
    resp = get_page(f"{BASE_URL}/tags/ajax/more", params=params, json=True)
moddb/utils.py:244: in get_page
    resp = request(requests.Request("GET", url, params=params))
.venv/lib/python3.11/site-packages/pyrate_limiter/limit_context_decorator.py:54: in wrapper
    return func(*args, **kwargs)
moddb/utils.py:215: in request
    raise_for_status(r)
moddb/utils.py:154: in raise_for_status
    response.raise_for_status()
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <Response [503]>

    def raise_for_status(self):
        """Raises :class:`HTTPError`, if one occurred."""
    
        http_error_msg = ""
        if isinstance(self.reason, bytes):
            # We attempt to decode utf-8 first because some servers
            # choose to localize their reason strings. If the string
            # isn't utf-8, we fall back to iso-8859-1 for all other
            # encodings. (See PR #3538)
            try:
                reason = self.reason.decode("utf-8")
            except UnicodeDecodeError:
                reason = self.reason.decode("iso-8859-1")
        else:
            reason = self.reason
    
        if 400 <= self.status_code < 500:
            http_error_msg = (
                f"{self.status_code} Client Error: {reason} for url: {self.url}"
            )
    
        elif 500 <= self.status_code < 600:
            http_error_msg = (
                f"{self.status_code} Server Error: {reason} for url: {self.url}"
            )
    
        if http_error_msg:
>           raise HTTPError(http_error_msg, response=self)
E           requests.exceptions.HTTPError: 503 Server Error: Service Unavailable for url: https://www.moddb.com/tags/ajax/more?ajax=t&sitearea=engines&siteareaid=36

.venv/lib/python3.11/site-packages/requests/models.py:1021: HTTPError
--------------------------------------------------------- Captured log setup ----------------------------------------------------------
INFO     moddb:utils.py:339 /engines/xash3d-fwgs-engine is type ThumbnailType.engine
INFO     moddb:utils.py:339 /engines/raycasting-game-maker is type ThumbnailType.engine
INFO     moddb:utils.py:339 /engines/unreal-engine-3 is type ThumbnailType.engine
INFO     moddb:utils.py:339 /engines/custom-built is type ThumbnailType.engine
INFO     moddb:utils.py:339 /engines/unreal-engine-2 is type ThumbnailType.engine
INFO     moddb:utils.py:339 /engines/rpg-maker-2003 is type ThumbnailType.engine
======================================================= short test summary info =======================================================
FAILED tests/test_engine.py::TestEngine::test_get_tags[https://www.moddb.com/engines/sage-strategy-action-game-engine] - requests.exceptions.HTTPError: 503 Server Error: Service Unavailable for url: https://www.moddb.com/tags/ajax/more?ajax=t&sitearea...
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! stopping after 1 failures !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
============================================= 1 failed, 17 passed, 7 deselected in 32.49s =============================================
```

When I enter the URL via browser, I see "Too Many Requests".

My educated guess is that either rate limits are different for different IPs (countries?) or that someone sharing the same IP address (I'm behind NAT) is using moddb simultaneously.

This seems to be worth implementing. The tests already have a simple cache system but these projects seem much better. I can make an attempt at implementing them for 0.10.0 but this won't be for a little while. 

Thanks a lot!

Tests are mostly mocked in v0.10.0

Thanks a lot!

> Tests are mostly mocked in v0.10.0

I'm afraid that something must have gone wrong here since only 187 tests pass in an offline environment, while the remaining 786 still attempt to connect to moddb.

I added a "Testing" header to the readme. The tests are sectionned in two. The "standard" set and the "extended" set. The standard set is the one currently covered by the tests and the one recommended to run if you're just doing sanity checks on the lib. The extended sets is the same tests as the standard set but on a larger number of urls.

The 187 tests that passes are the standard test set, the 786 that didn't are from the extended set. You probably hit the ratelimit there.

Ah, thank you. I've noticed these marks in `run_tests.sh` but for some reason I've assumed that `-k main` is the standard set.

However, with `-k "not main"`, I'm still getting lots of failures in an offline environment and around `tests/test_engine.py::TestEnginePatched::test_get_tutorials` the suite hangs entirely.

Hmm, that's interesting. The tests all passed on my machine and on the github action. Would you mind opening another issue with some traceback, the command you're running and your Python version?